{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-xl-2 col-sm-12 col-md-3 col-lg-2 bg-body-tertiary">
      <div class="p-3">
        <a
          href="/"
          class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
        >
          <svg class="bi pe-none me-2" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-5">Profile</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi pe-none me-2" width="14" height="14">
                <use xlink:href="#home"></use>
              </svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="14" height="14">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Dashboard
            </a>
          </li>
          <li>
            <a id="order" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="14" height="14">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="14" height="14">
                <use xlink:href="#grid"></use>
              </svg>
              Products
            </a>
          </li>
        </ul>
        <hr />
        <div class="dropdown">
          <a
            href="#"
            class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/aytheeh2.png"
              alt=""
              width="24"
              height="24"
              class="rounded-circle me-2"
            />
            <strong>{{request.user}}</strong>
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{% url 'userauth:logout' %}"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Main Content -->
    <div class="col-xl-10 col-sm-12 col-md-9 col-lg-10 my-3 p-3">
      <!-- <div class="container">
        <div class="row bg-dark">
          <div class="col bg-info">
            <p class="display-6">Welcome {{request.user}}</p>
          </div>
          <div class="col bg-secondary">f</div>
        </div>
      </div> -->
      <div class="container">
        <p class="display-6">Welcome {{request.user}}.</p>
      </div>
      <div class="col" id="main-content">
        <div id="orders-section" style="display: none">
          <table class="table table-striped table-bordered" id="orders-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for i in orders %}
              <tr>
                <td></td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
