.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn {
    transition: color 0.3s;
}

.btn:hover {
    color: #fff !important;
    border-color: #fff !important;
}

.form-control {
    border-color: black;
}